/*!CK:1602905670!*//*1460973678,*/

.touch ._50l4{margin:0 8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.touch ._1uh1 ._50l4{margin:0 4px;padding-top:1px}.touch ._1uh1 ._50l4.mfsl{font-size:18px;line-height:22px}

#bootloader_BPUjr{height:42px;}.bootloader_BPUjr{display:block!important;}